<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="shuidi_gazebo" params="prefix">
        <gazebo reference="${prefix}left_wheel">
            <material>Gazebo/Red</material>
            <mu1 value="0.5" />
            <mu2 value="0.5" />
        </gazebo>
        <gazebo reference="${prefix}right_wheel">
            <material>Gazebo/Red</material>
            <mu1 value="0.5" />
            <mu2 value="0.5" />
        </gazebo>
        <gazebo reference="${prefix}base_link">
            <material>Gazebo/White</material>
        </gazebo>
        <gazebo reference="${prefix}battery">
            <material>Gazebo/White</material>
        </gazebo>

        <gazebo reference="${prefix}front_caster">
            <material>Gazebo/Blue</material>
            <!-- 摩擦係数はとりあえず0にして引っかからないようにする -->
            <mu1>0.0</mu1>
            <mu2>0.0</mu2>
        </gazebo>
        <gazebo reference="${prefix}rear_caster">
            <material>Gazebo/Blue</material>
            <!-- 摩擦係数はとりあえず0にして引っかからないようにする -->
            <mu1>0.0</mu1>
            <mu2>0.0</mu2>
        </gazebo>

        <gazebo>
            <!-- Joint state publisher -->
            <!-- <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <robot_param>robot_description</robot_param>
                <robot_param_node>robot_state_publisher</robot_param_node>
                <parameters>$(find xarm_shuidi_bringup)/config/diff_drive_controller.yaml</parameters>
            </plugin> -->
            <!-- <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
                <ros>
                    <remapping>cmd_vel:=cmd_vel</remapping>
                    <namespace>/diff_drive_${prefix}</namespace>
                    <remapping>odom:=odom</remapping>
                </ros>
                <left_joint>${prefix}left_wheel_joint</left_joint>
                <right_joint>${prefix}right_wheel_joint</right_joint>
                <wheel_separation>0.6</wheel_separation>
                <wheel_diameter>0.2</wheel_diameter>
                <max_wheel_torque>30</max_wheel_torque>
                <max_wheel_acceleration>3.0</max_wheel_acceleration>
                <publish_odom>true</publish_odom>
                <publish_odom_tf>false</publish_odom_tf>
                <publish_wheel_tf>true</publish_wheel_tf>
                <update_rate>30</update_rate>

                <odometry_topic>odom</odometry_topic>
                <odometry_frame>odom</odometry_frame>
                <base_frame_id>base_link</base_frame_id>
                <robot_base_frame>base_link</robot_base_frame>
                <command_topic>cmd_vel</command_topic>
            </plugin> -->
            <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
                <ros>
                    <!-- Add a namespace -->
                    <namespace>/diff_drive_${prefix}</namespace>
                    <!-- Remap the default topic -->
                    <remapping>cmd_vel:=cmd_vel</remapping>
                    <remapping>odom:=odom</remapping>
                </ros>
                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <odometry_frame>odom</odometry_frame>
                <update_rate>50</update_rate>
                <publish_rate>20.0</publish_rate>
                <robot_base_frame>${prefix}base_link</robot_base_frame>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>