<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">
    <xacro:macro name="imu" params="parent xyz:='0 0 0' rpy:='0 0 0'">
        <!-- add imu object -->
        <joint name="imu_joint" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}" />
            <parent link="${parent}" />
            <child link="imu_link" />
            <axis xyz="0 0 1.0" />
        </joint>
        <link name="imu_link">
            <visual>
                <inertial>
                    <mass value="0.03" />
                    <inertia ixx="0.01" ixy="0.0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
                </inertial>
                <geometry>
                    <box size="0.05 0.05 0.05" />
                </geometry>
                <material name="green">
                    <color rgba="0 1 0 0.7" />
                </material>
            </visual>
            <collision>
                <geometry>
                    <box size="0.05 0.05 0.05" />
                </geometry>
            </collision>
        </link>
        <gazebo reference="imu_link">
            <material>Gazebo/Blue</material>
            <sensor name="my_imu" type="imu">
                <always_on>true</always_on>
                <!-- Publish at 30 hz -->
                <update_rate>50</update_rate>
                <plugin name="my_imu_plugin" filename="libgazebo_ros_imu_sensor.so">
                    <ros>
                        <!-- Will publish to /imu/data -->
                        <namespace>/imu</namespace>
                        <remapping>~/out:=data</remapping>
                    </ros>
                    <!-- frame_name ommited, will be "my_link" -->
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>
</robot>