<?xml version="1.0"?>
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="shuidi">
        <xacro:include filename="$(find xarm_shuidi_description)/urdf/wheel.urdf.xacro" />
        <xacro:include filename="$(find xarm_shuidi_description)/urdf/body.urdf.xacro" />
        <xacro:include filename="$(find xarm_shuidi_description)/urdf/caster.urdf.xacro" />
        <xacro:include filename="$(find xarm_shuidi_description)/xacro/lidar.xacro" />
        <xacro:include filename="$(find xarm_shuidi_description)/xacro/imu.xacro" />


        <xacro:body />
        <xacro:wheel prefix="left" parent="base_link" xyz="0 0.18 0.059" rpy="-1.5707 0 0" />
        <xacro:wheel prefix="right" parent="base_link" xyz="0 -0.18 0.059" rpy="-1.5707 0 0" />
        <xacro:caster prefix="front" parent="base_link" xyz="0.097 0 0.034" rpy="1.57 0 0" />
        <xacro:caster prefix="rear" parent="base_link" xyz="-0.14 0 0.034" rpy="1.57 0 0" />
        
        <!-- sensor -->
        <!-- <xacro:lidar parent="base_link" xyz="0.3 0 0.28" rpy="0 0 0" />
        <xacro:imu parent="base_link" xyz="0 0 0.8" rpy="0 0 0" /> -->
   
    </xacro:macro>
</robot>