<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="body">
    <xacro:macro name="body" params="prefix">
        <!-- Base Link -->
        <link name="${prefix}base_link">
            <collision>
                <origin xyz="0 0 0.0" rpy="0 0 0" />
                <geometry>
                    <!-- <box size="0.5 0.33 0.7" /> -->
                    <mesh filename="file://$(find xarm_shuidi_description)/meshes/shuidi_agv.stl" />
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 0.0" rpy="0 0 0" />
                <geometry>
                    <!-- <box size="0.5 0.33 0.7" /> -->
                    <mesh filename="file://$(find xarm_shuidi_description)/meshes/shuidi_agv.stl" />
                </geometry>
                <material name="white">
                    <color rgba="1 1 1 1" />
                </material>
            </visual>

            <inertial>
                <origin xyz="0 0 0.2" rpy="0 0 0" />
                <mass value="30" />
                <inertia
                    ixx="1.0"
                    ixy="0.0"
                    ixz="0.0"
                    iyy="1.0"
                    iyz="0.0"
                    izz="1.9" />
            </inertial>
        </link>

    </xacro:macro>
</robot>